In [2]:
#rimas - 439808955

In [3]:
import pymongo

In [4]:
#1.	Use Python with MongoDB to implement the required commands.

#MongoDB connection

In [5]:
from pymongo import MongoClient
#conection
host="localhost"
port=27017

In [6]:
Cli=pymongo.MongoClient(host,port)

#Check the existing DB

In [7]:
print(Cli.list_database_names())

['439808955_ID', 'admin', 'blog', 'config', 'database3', 'lab3', 'lab3test', 'local', 'newp']

Create database with your ID

In [8]:
db=Cli["439808955_ID"]

db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), '439808955_ID')

Create collections

In [9]:

publishers_collection = db.publishers
books_collection = db.books

In [10]:
publishers_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), '439808955_ID'), 'publishers')

In [11]:
books_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), '439808955_ID'), 'books')

embedded model relationship  1 -> *

In [12]:
publishers_data = [
    {
        "_id": 100, #PK
        "Name": "Publisher-1",
        "founded_year": 2000,
        "Location": "Canada"
    },
    {
        "_id": 200,
        "Name": "Publisher-2",
        "founded_year": 2020,
        "Location": "England"
    }
]

books_data = [
    {
        "_id": 1100,
        "title": "Book Title-1",
        "author": ["author-1", "author-2"],
        "published_date": "2010-09-01",
        "language": "English",
        "price": 200,
        "publisher_id": 100  # fk
    },
    {
        "_id": 1200,
        "title": "Book Title-2",
        "author": ["author-3"],
        "published_date": "2011-06-01",
        "language": "English",
        "price": 350,
        "publisher_id": 100  # Fk
    }
]

In [13]:
publishers_collection.insert_many(publishers_data)

books_collection.insert_many(books_data)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: 439808955_ID.publishers index: _id_ dup key: { _id: 100 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 100}, 'op': {'_id': 100, 'Name': 'Publisher-1', 'founded_year': 2000, 'Location': 'Canada'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

 insert data for the given many_books.json file

In [ ]:
import json

add a file to books_collection

Func

In [ ]:
#load
def file_loader_fun(json_file):
    with open(json_file)as file:
        file_data=json.load(file)

        print("loaded")

        return file_data

In [ ]:
#insert in coll

def insert_jsonData_to_collection(file_data,books_collection):
    if isinstance(file_data,list):
        books_collection.insert_many(file_data)

    else:
        books_collection.insert_one(file_data)

use func to load

In [ ]:
file_data=file_loader_fun("many_books.json")

loaded

In [ ]:
file_data

[{'_id': 1300,
  'title': 'Book Title-3',
  'author': 'Author-1',
  'published_date': '2013-05-06',
  'language': 'English',
  'price': 400,
  'Publisher': {'id': 200,
   'name': 'Publisher-2',
   'founded_year': 2020,
   'Location': 'England'}},
 {'_id': 1400,
  'title': 'Book Title-4',
  'author': 'Author-1',
  'published_date': '2016-05-01',
  'language': 'Arabic',
  'price': 500,
  'Publisher': {'id': 200,
   'name': 'Publisher-2',
   'founded_year': 2020,
   'Location': 'England'}},
 {'_id': 1500,
  'title': 'Book Title-5',
  'author': ['Author-4', 'Author-5', 'Author-6'],
  'published_date': '2012-01-01',
  'language': 'Arabic',
  'price': 500,
  'Publisher': {'id': 200,
   'name': 'Publisher-2',
   'founded_year': 2020,
   'Location': 'England'}},
 {'_id': 1600,
  'title': 'Book Title-6',
  'author': 'Author-7',
  'published_date': '2023-01-01',
  'language': 'English',
  'price': 600,
  'Publisher': {'id': 100,
   'name': 'Publisher-1',
   'founded_year': 2000,
   'Location': 'Canada'}}]

inser file -> coll

In [ ]:
insert_jsonData_to_collection(file_data,books_collection)

Show the coll

In [ ]:
r=books_collection.find()
list(map(print,r))

{'_id': 1100, 'title': 'Book Title-1', 'author': ['author-1', 'author-2'], 'published_date': '2010-09-01', 'language': 'English', 'price': 200, 'publisher_id': 100}
{'_id': 1200, 'title': 'Book Title-2', 'author': ['author-3'], 'published_date': '2011-06-01', 'language': 'English', 'price': 350, 'publisher_id': 100}
{'_id': 1300, 'title': 'Book Title-3', 'author': 'Author-1', 'published_date': '2013-05-06', 'language': 'English', 'price': 400, 'Publisher': {'id': 200, 'name': 'Publisher-2', 'founded_year': 2020, 'Location': 'England'}}
{'_id': 1400, 'title': 'Book Title-4', 'author': 'Author-1', 'published_date': '2016-05-01', 'language': 'Arabic', 'price': 500, 'Publisher': {'id': 200, 'name': 'Publisher-2', 'founded_year': 2020, 'Location': 'England'}}
{'_id': 1500, 'title': 'Book Title-5', 'author': ['Author-4', 'Author-5', 'Author-6'], 'published_date': '2012-01-01', 'language': 'Arabic', 'price': 500, 'Publisher': {'id': 200, 'name': 'Publisher-2', 'founded_year': 2020, 'Location': 'England'}}
{'_id': 1600, 'title': 'Book Title-6', 'author': 'Author-7', 'published_date': '2023-01-01', 'language': 'English', 'price': 600, 'Publisher': {'id': 100, 'name': 'Publisher-1', 'founded_year': 2000, 'Location': 'Canada'}}

[None, None, None, None, None, None]

In [14]:
print(len(db.list_collection_names()))

3

In [15]:
ml=db.list_collection_names()

ml

['newcoll', 'books', 'publishers']

Query

In [ ]:
import pprint

In [ ]:
#6.1	Display all books in descending order according to published date.	0.75

In [ ]:
for dd in publishers_collection.find():
    pprint.pprint(dd)

{'Location': 'Canada', 'Name': 'Publisher-1', '_id': 100, 'founded_year': 2000}
{'Location': 'England', 'Name': 'Publisher-2', '_id': 200, 'founded_year': 2020}

In [ ]:
for rr in books_collection.find():
    pprint.pprint(rr)

{'_id': 1100,
 'author': ['author-1', 'author-2'],
 'language': 'English',
 'price': 200,
 'published_date': '2010-09-01',
 'publisher_id': 100,
 'title': 'Book Title-1'}
{'_id': 1200,
 'author': ['author-3'],
 'language': 'English',
 'price': 350,
 'published_date': '2011-06-01',
 'publisher_id': 100,
 'title': 'Book Title-2'}
{'Publisher': {'Location': 'England',
               'founded_year': 2020,
               'id': 200,
               'name': 'Publisher-2'},
 '_id': 1300,
 'author': 'Author-1',
 'language': 'English',
 'price': 400,
 'published_date': '2013-05-06',
 'title': 'Book Title-3'}
{'Publisher': {'Location': 'England',
               'founded_year': 2020,
               'id': 200,
               'name': 'Publisher-2'},
 '_id': 1400,
 'author': 'Author-1',
 'language': 'Arabic',
 'price': 500,
 'published_date': '2016-05-01',
 'title': 'Book Title-4'}
{'Publisher': {'Location': 'England',
               'founded_year': 2020,
               'id': 200,
               'name': 'Publisher-2'},
 '_id': 1500,
 'author': ['Author-4', 'Author-5', 'Author-6'],
 'language': 'Arabic',
 'price': 500,
 'published_date': '2012-01-01',
 'title': 'Book Title-5'}
{'Publisher': {'Location': 'Canada',
               'founded_year': 2000,
               'id': 100,
               'name': 'Publisher-1'},
 '_id': 1600,
 'author': 'Author-7',
 'language': 'English',
 'price': 600,
 'published_date': '2023-01-01',
 'title': 'Book Title-6'}

In [ ]:
#6.2	Display only the title and author of books whose price is less than 500.	0.75

In [ ]:
# Query for books with price less than 500
query = {"price": {"$lt": 500}}

# Projection to include only title and author fields
projection = {"title": 1, "author": 1, "_id": 0,"price":1}

matching_books = books_collection.find(query, projection)
for book in matching_books:
    pprint.pprint(book)

{'author': ['author-1', 'author-2'], 'price': 200, 'title': 'Book Title-1'}
{'author': ['author-3'], 'price': 350, 'title': 'Book Title-2'}
{'author': 'Author-1', 'price': 400, 'title': 'Book Title-3'}